/**/
/**/
/**/
/* START */
/**/
/**/
/**/

#signup-title{
   color: white;
   text-shadow:
    0 0 1px white,
    0 0 2px white,
    0 0 8px white,
    0 0 20px white;
    text-align: center;
    width: auto;
    margin-top: 3%;
    padding: 2%;
    height: -500%;
    font-size: 400%;
}



/* FORM STYLES */
.signup-info {
  width: 500px; 
  /* max-width: 400px; */  
  margin: 0 auto;     
}


.form-label{
    color: white;
    font-size: 120%;
    text-align: center;
    margin-top: 2%;
}


#signup-input {
    color: #d6c1ff; /* text color */
}

.form-input {
    width: 100%;
    height: 40px;
    border: none;                    /* Remove default black border */
    outline: none;                   /* Remove focus outline */
    border-radius: 18px;
    padding: 10px;
    margin-bottom: 2%;
    font-size: 100%;
    background-color: #d6c1ffaa;
    box-sizing: border-box;
    transition: border 0.3s ease, background-color 0.3s ease;
}

/* Optional: Add a custom border only on focus */
.form-input:focus {
    border: 2px solid #d6c1ffaa;         /* custom neon border */
    background-color: #d6c1ffaa;
    outline: none;
}

.submit-button {
  text-align: center;
  margin-top: 1.5%;
  font-weight: 2000;
}

#form-submit {
  width: 17%;
  height: 100%;
  padding: 12px 40px;
  border-radius: 30px;
  background-color: #f87aff65;
  color: white;
  border: none;
  font-weight: 2000;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s ease;
}

#form-submit:hover {
  background-color: #bba3f2;
  color: white;
}
