@font-face {
    font-family: 'AgrandirRegular';
    src: url('assets/Agrandir - Free for Personal Use/Agrandir-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgrandirThin';
    src: url('assets/Agrandir - Free for Personal Use/Agrandir-Thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'AgrandirRegular', sans-serif;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #d9d9d9;
}

.main-window {
    max-width: 85vw;
    width: 100%;
    height: auto;
    margin: -2.5% auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;
    padding-bottom: 3%;
    padding-right: 1%;
}

.nav-mt {
    margin-top: 10vh;
}

/* ======================================================== CHECKOUT ============================================================================ */
 h2 {
    font-size: 40px;
    margin: 40px 0 0 40px;
    color: #ffffff;
  }

  .checkout-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    gap: 30px;
  }
 .scan-title {
  display: flex;
  align-items: center;
  gap: 2px; 
  width: 100%;
}
.pay-scan-label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px; 
}

.star-icon {
  height: 70px;
  width: auto;
}
.payment-left{
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .payment-left .accepted-text {
    font-size: 14px;
    margin: 10px 0 5px;
  }

  .payment-left .logos {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .payment-left .accepted-text {
    font-size: 14px;
    margin-top:-20px;
  }

  .payment-left .title {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .payment-left .title img {
    height: 18px;
  }

/* ========================== CHECKOUT RIGHT SECTION ========================== */
.image-container {
  height: 300px;  
  width: auto;         
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}

#receipt-preview {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.payment-right {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload-label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.upload-box small {
  display: block;
  margin-bottom: 10px;
  color: #666;
}
/* ======================================================== END CHECKOUT ============================================================================ */